# Node.js (Next.js) specific
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/.env.local
/frontend/.env.*.local
/frontend/.DS_Store
/frontend/yarn.lock
/frontend/package-lock.json

# Go (Backend) specific
/backend/bin/
#/backend/build/
#/backend/.env
#/backend/vendor/
backend/env/*.env

# Docker specific
docker-compose.override.yml
**/docker-compose.override.yml
**/docker-compose.override.yaml
**/.idea

